*.suo
*.user
_ReSharper.*
bin
obj
packages
.vs/narit_mis_api/FileContentIndex
narit_mis_api/obj
narit_mis_api/bin
narit_acc_api/obj
narit_acc_api/bin
App.ACC.dll
App.ACC/obj
App.Accommodations/bin
App.Accommodations/obj