*.suo
*.user
_ReSharper.*
bin
obj
packages
**/bin/*
**/obj/*
*.cache
.vs/narit_mis_api/FileContentIndex
App.AccountsReceivable/App.AccountsReceivable.csproj
App.AccountsReceivable/IAccountsReceivableService.cs
App.AccountsReceivable/AccountsReceivableService.cs
