*.suo
*.user
_ReSharper.*
bin
obj
packages
App.ACC/obj
narit_mis_api/bin/Release
App.ACC.dll
App.Accommodations.dll
.vs/narit_mis_api/FileContentIndex/298ade64-62bc-44b7-9174-1225bd7dcd21.vsidx
.vs/narit_mis_api/FileContentIndex/49b2f2e7-e3aa-4855-9361-067fe480494e.vsidx
.vs/narit_mis_api/FileContentIndex/5ea896fc-158f-4454-8ad1-affb8db38b3b.vsidx
.vs/narit_mis_api/FileContentIndex/ef03f559-7b1d-48e2-bb1a-eb2c287817f9.vsidx
.vs/narit_mis_api/FileContentIndex/f84e45ca-b6b0-4338-88eb-7acca30011a9.vsidx
.vs/narit_mis_api/FileContentIndex/166c123e-fa54-49fa-9d09-ff9125ad7940.vsidx
.vs/narit_mis_api/FileContentIndex/195400bb-cce6-46fd-b525-6f5727017738.vsidx
.vs/narit_mis_api/FileContentIndex/31ebfee2-dfa4-4178-bc53-b7bec7e6f529.vsidx
.vs/narit_mis_api/FileContentIndex/b5846f39-c3b3-45b1-9de1-89b1ea180cf1.vsidx
ex_web/bin/Release/net6.0/App.PathDetail.dll
ex_web/bin/Release/net6.0/App.PathDetail.pdb
ex_web/bin/Release/net6.0/appsettings.Development.json
ex_web/bin/Release/net6.0/appsettings.json
ex_web/bin/Release/net6.0/ex_web.deps.json
ex_web/bin/Release/net6.0/ex_web.dll
ex_web/bin/Release/net6.0/ex_web.exe
ex_web/bin/Release/net6.0/ex_web.pdb
ex_web/bin/Release/net6.0/ex_web.runtimeconfig.json
ex_web/bin/Release/net6.0/ex_web.staticwebassets.runtime.json
ex_web/bin/Release/net6.0/Newtonsoft.Json.Bson.dll
ex_web/bin/Release/net6.0/Newtonsoft.Json.dll
ex_web/bin/Release/net6.0/json/back_list_check.json
ex_web/bin/Release/net6.0/json/backlist.json
ex_web/bin/Release/net6.0/json/database_class_list.json
ex_web/obj/Release/net6.0/apphost.exe
ex_web/obj/Release/net6.0/ex_web.csproj.CopyComplete
ex_web/obj/Release/net6.0/ex_web.csproj.CoreCompileInputs.cache
ex_web/obj/Release/net6.0/ex_web.csproj.FileListAbsolute.txt
ex_web/obj/Release/net6.0/ex_web.dll
ex_web/obj/Release/net6.0/ex_web.genruntimeconfig.cache
ex_web/obj/Release/net6.0/ex_web.MvcApplicationPartsAssemblyInfo.cache
ex_web/obj/Release/net6.0/ex_web.pdb
ex_web/obj/Release/net6.0/staticwebassets.build.json
ex_web/obj/Release/net6.0/staticwebassets.development.json
ex_web/obj/Release/net6.0/staticwebassets.pack.json
ex_web/obj/Release/net6.0/ref/ex_web.dll
ex_web/obj/Release/net6.0/refint/ex_web.dll
ex_web/obj/Release/net6.0/scopedcss/bundle/ex_web.styles.css
ex_web/obj/Release/net6.0/scopedcss/projectbundle/ex_web.bundle.scp.css
ex_web/obj/Release/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
ex_web/obj/Release/net6.0/staticwebassets/msbuild.build.ex_web.props
ex_web/obj/Release/net6.0/staticwebassets/msbuild.buildMultiTargeting.ex_web.props
ex_web/obj/Release/net6.0/staticwebassets/msbuild.buildTransitive.ex_web.props
ex_web/obj/Release/net6.0/staticwebassets/msbuild.ex_web.Microsoft.AspNetCore.StaticWebAssets.props
narit_acc_api/bin/Release/net6.0/Humanizer.dll
narit_acc_api/bin/Release/net6.0/Microsoft.EntityFrameworkCore.Design.dll
narit_acc_api/bin/Release/net6.0/Microsoft.Extensions.DependencyInjection.dll
narit_acc_api/bin/Release/net6.0/System.DirectoryServices.dll
narit_acc_api/bin/Release/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
narit_acc_api/bin/Release/net6.0/runtimes/win/lib/net6.0/System.DirectoryServices.dll
narit_acc_api/bin/Release/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
narit_acc_api/bin/Release/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
narit_acc_api/obj/Release/net6.0/narit_acc_api.csproj.BuildWithSkipAnalyzers
narit_acc_api/obj/Release/net6.0/staticwebassets/msbuild.build.narit_acc_api.props
narit_acc_api/obj/Release/net6.0/staticwebassets/msbuild.buildMultiTargeting.narit_acc_api.props
narit_acc_api/obj/Release/net6.0/staticwebassets/msbuild.buildTransitive.narit_acc_api.props
.vs/narit_mis_api/FileContentIndex/853059ef-1df1-47e4-b196-b7125a9bd102.vsidx
.vs/narit_mis_api/FileContentIndex/9f80cf59-5119-4eb0-98a7-6311872314c5.vsidx
.vs/narit_mis_api/FileContentIndex/aeac0667-0387-4cb5-848c-29e3fdd4c35f.vsidx
.vs/narit_mis_api/FileContentIndex/f0b976cc-755f-4a3f-a83a-c41e27eb2276.vsidx
App.AccountsReceivable/AccountsReceivableService.cs
App.AccountsReceivable/App.AccountsReceivable.csproj
App.AccountsReceivable/IAccountsReceivableService.cs
App.AccountsReceivable/bin/Release/net6.0/App.AccountsReceivable.deps.json
App.AccountsReceivable/bin/Release/net6.0/App.AccountsReceivable.dll
App.AccountsReceivable/bin/Release/net6.0/App.AccountsReceivable.pdb
App.AccountsReceivable/bin/Release/net6.0/Data.Context.dll
App.AccountsReceivable/bin/Release/net6.0/Data.Context.pdb
App.AccountsReceivable/obj/App.AccountsReceivable.csproj.nuget.dgspec.json
App.AccountsReceivable/obj/App.AccountsReceivable.csproj.nuget.g.props
App.AccountsReceivable/obj/App.AccountsReceivable.csproj.nuget.g.targets
App.AccountsReceivable/obj/project.assets.json
App.AccountsReceivable/obj/project.nuget.cache
App.AccountsReceivable/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
App.AccountsReceivable/obj/Debug/net6.0/App.AccountsReceivable.AssemblyInfo.cs
App.AccountsReceivable/obj/Debug/net6.0/App.AccountsReceivable.AssemblyInfoInputs.cache
App.AccountsReceivable/obj/Debug/net6.0/App.AccountsReceivable.csproj.AssemblyReference.cache
App.AccountsReceivable/obj/Debug/net6.0/App.AccountsReceivable.GeneratedMSBuildEditorConfig.editorconfig
App.AccountsReceivable/obj/Debug/net6.0/App.AccountsReceivable.GlobalUsings.g.cs
App.AccountsReceivable/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
App.AccountsReceivable/obj/Release/net6.0/App.AccountsReceivable.AssemblyInfo.cs
App.AccountsReceivable/obj/Release/net6.0/App.AccountsReceivable.AssemblyInfoInputs.cache
App.AccountsReceivable/obj/Release/net6.0/App.AccountsReceivable.assets.cache
App.AccountsReceivable/obj/Release/net6.0/App.AccountsReceivable.csproj.AssemblyReference.cache
App.AccountsReceivable/obj/Release/net6.0/App.AccountsReceivable.csproj.BuildWithSkipAnalyzers
narit_acc_api/bin/Release/net6.0/App.AccountsReceivable.dll
.vs/narit_mis_api/FileContentIndex/bec4272b-7562-46f6-954c-bec4eba2d0d5.vsidx
.vs/narit_mis_api/FileContentIndex/18a1b8d8-57dd-45cf-bdb7-a9ceda1dbd5e.vsidx
.vs/narit_mis_api/FileContentIndex/3f59daf2-a56f-41d7-b440-20177ffa40a8.vsidx
.vs/narit_mis_api/FileContentIndex/413a5a75-7551-4201-81b1-320571a0b8e8.vsidx
.vs/narit_mis_api/FileContentIndex/f82759a5-4d8a-4bde-a9dc-8b7ffb7e484a.vsidx
/narit_mis_api.sln
.vs/narit_mis_api/FileContentIndex
App.AccountsReceivable/obj
App.AccountsReceivable/bin
App.ACC/bin
App.ACC/obj
